.snipcart-checkout {
    background-image: url("../images/snipcart-add-item.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 21px;
    height: 21px;
    /* margin: 3% auto; */
    position: absolute !important;
    right: 0%;
    top: 2%;
    padding: 2px;
}


@media only screen and (max-width: 450px) {
    .MuiButtonBase-root {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 350px) {
    
}

